.page404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  height: 35rem;
}
.title {
  font-weight: 700;
  padding: 2rem 0;
}
.btnBack {
  border: none;
  border-radius: 20rem;
  :hover {
    background: linear-gradient(43deg, #7068fa 0%, #ff64b4 46%, #ffd94a 100%);
  }
  .link {
    text-decoration: none;
    border: none;
  }
}
