.containerDescription {
  position: relative;
  display: flex;
  justify-content: center;
}

.contentDescription {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 25rem;
}

.img {
  position: relative;
  display: inline-block;
}

.avatar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -41%;
  z-index: 2;
}

// MODE MOBILE

@media only screen and (max-width: 767px) {
  .contentDescription {
    display: none;
  }
  .iconeOrdi {
    display: none;
  }
  .avatar {
    display: none;
  }
}
