.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bolder;
  height: 5rem;
  margin: 5rem 0 0 0;
}

.legalsMentions {
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

.contact {
  padding-top: 0.3rem;
  color: white;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

.copyright {
  margin: 0;
}

.version {
  font-size: 0.8rem;
  opacity: 0.7;
  margin: 0;
}
